@import "./node_modules/reactionic/dist/scss/styles/reactionic.scss";

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.fullscreen-loader { display: flex; justify-content: center; height: 100%; align-items:center; flex-direction: column }
.fullscreen-loader .spinner svg { width:42px; height:42px; stroke:#ef473a; }
.fullscreen-loader { color: #ef473a; font-weight: 500; font-size:13px; text-transform: uppercase; }

.item { border-left:0; border-right:0; padding-left:0; margin-top:56px; border-top:0; border-bottom-color:'#e7e7e7' }
.item.item-input label { text-transform: uppercase; font-size:13px; color: #A4A7AE; font-weight:300; }


.formAnimation-leave { transform: translateX(0) }
.formAnimation-leave.formAnimation-leave-active { transform: translateX(-100%); transition: transform 0ms ease-out;}

.thanksAnimation-enter { transform: translateY(100%); }
.thanksAnimation-enter.thanksAnimation-enter-active { transform: translateY(0); transition: transform 300ms ease-out; }

.thankyou-container { color:#A4A7AE; text-align:center; display: flex; flex-direction: column;  align-items: center; height: 100%; justify-content: center; font-weight:300; font-size:24px;  }
.thankyou-container p { font-weight:300; font-size:16px; margin-top:24px; }

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
